
<div role="tabpanel" class="tab-pane fade" id="review">
  <h6>3 REVIEWS FOR SHIP YOUR IDEA</h6>

  <!-- REVIEW PEOPLE 1 -->
  <div class="media">
    <div class="media-left">
      <!--  Image -->
      <div class="avatar"> <a href="#"> <img class="media-object" src="assets/images/avatar-1.jpg" alt=""> </a> </div>
    </div>
    <!--  Details -->
    <div class="media-body">
      <p class="font-playfair">“Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.”</p>
      <h6>TYRION LANNISTER <span class="pull-right">MAY 10, 2016</span> </h6>
    </div>
  </div>

  <!-- REVIEW PEOPLE 1 -->

  <div class="media">
    <div class="media-left">
      <!--  Image -->
      <div class="avatar"> <a href="#"> <img class="media-object" src="assets/images/avatar-2.jpg" alt=""> </a> </div>
    </div>
    <!--  Details -->
    <div class="media-body">
      <p class="font-playfair">“Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.”</p>
      <h6>TYRION LANNISTER <span class="pull-right">MAY 10, 2016</span> </h6>
    </div>
  </div>

  <!-- ADD REVIEW -->
  <h6 class="margin-t-40">ADD REVIEW</h6>
  <form>
    <ul class="row">
      <li class="col-sm-6">
        <label> *NAME
          <input type="text" value="" placeholder="">
        </label>
      </li>
      <li class="col-sm-6">
        <label> *EMAIL
          <input type="email" value="" placeholder="">
        </label>
      </li>
      <li class="col-sm-12">
        <label> *YOUR REVIEW
          <textarea></textarea>
        </label>
      </li>
      <li class="col-sm-6">
        <!-- Rating Stars -->
        <div class="stars"> <span>YOUR RATING</span> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
      </li>
      <li class="col-sm-6">
        <button type="submit" class="btn btn-dark btn-small pull-right no-margin">POST REVIEW</button>
      </li>
    </ul>
  </form>
</div>

