<!--======= HOME MAIN SLIDER =========-->
<section class="home-slider">

  <!-- SLIDE Start -->
  <div class="tp-banner-container">
    <div class="tp-banner">
      <ul>
        <!-- SLIDE  -->
        <li data-transition="random" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
          <!-- MAIN IMAGE -->
          <img src="assets/images/vendez.jpg"  alt="slider"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
          <!-- LAYERS -->
          <!-- LAYER NR. 1 -->
          <div class="tp-caption font-playfair sfb tp-resizeme"
               data-x="left" data-hoffset="0"
               data-y="center" data-voffset="-200"
               data-speed="800"
               data-start="500"
               data-easing="Power3.easeInOut"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.1"
               data-endelementdelay="0.1"
               data-endspeed="300"
               style="z-index: 7; font-size:18px; color:#fff;  white-space: nowrap;">Renouvelez votre garde robe</div>
          <!-- LAYER NR. 2 -->
          <div class="tp-caption sfl font-extra-bold tp-resizeme"
               data-x="left" data-hoffset="0"
               data-y="center" data-voffset="-120"
               data-speed="800"
               data-start="800"
               data-easing="Power3.easeInOut"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.07"
               data-endelementdelay="0.1"
               data-endspeed="300"
               style="z-index: 6; font-size:80px; color:#2d3a4b; text-transform:uppercase; white-space: nowrap;"> </div>
          <!-- LAYER NR. 2 -->
          <div class="tp-caption sfr font-extra-bold tp-resizeme"
               data-x="left" data-hoffset="0"
               data-y="center" data-voffset="0"
               data-speed="800"
               data-start="800"
               data-easing="Power3.easeInOut"
               data-splitin="chars"
               data-splitout="none"
               data-elementdelay="0.07"
               data-endelementdelay="0.1"
               data-endspeed="300"
               style="z-index: 6; font-size:120px; color:#fff; text-transform:uppercase; white-space: nowrap;">Achetez </div>
          <!-- LAYER NR. 2 -->
          <div class="tp-caption sfr font-extra-bold tp-resizeme"
               data-x="left" data-hoffset="0"
               data-y="center" data-voffset="110"
               data-speed="800"
               data-start="1300"
               data-easing="Power3.easeInOut"
               data-splitin="chars"
               data-splitout="none"
               data-elementdelay="0.07"
               data-endelementdelay="0.1"
               data-endspeed="300"
               style="z-index: 6; font-size:120px; color:#fff; text-transform:uppercase; white-space: nowrap;"> </div>
          <!-- LAYER NR. 4 -->
          <div class="tp-caption lfb tp-resizeme"
               data-x="left" data-hoffset="0"
               data-y="center" data-voffset="240"
               data-speed="800"
               data-start="2200"
               data-easing="Power3.easeInOut"
               data-elementdelay="0.1"
               data-endelementdelay="0.1"
               data-endspeed="300"
               data-scrolloffset="0"
               style="z-index: 8;"><a  class="btn">La luxe</a> </div>
        </li>

        <!-- SLIDE  -->
        <li data-transition="random" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
          <!-- MAIN IMAGE -->
          <img src="assets/images/achetez.jpg"  alt="slider"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
          <!-- LAYERS -->
          <!-- LAYER NR. 1 -->
          <div class="tp-caption font-playfair sfb tp-resizeme"
               data-x="left" data-hoffset="0"
               data-y="center" data-voffset="-200"
               data-speed="800"
               data-start="500"
               data-easing="Power3.easeInOut"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.1"
               data-endelementdelay="0.1"
               data-endspeed="300"
               style="z-index: 7; font-size:18px; color:#fff;  white-space: nowrap;">Le meilleur vide-dressing sur Internet </div>

          <!-- LAYER NR. 2 -->
          <div class="tp-caption sfr font-extra-bold tp-resizeme"
               data-x="left" data-hoffset="0"
               data-y="center" data-voffset="0"
               data-speed="800"
               data-start="800"
               data-easing="Power3.easeInOut"
               data-splitin="chars"
               data-splitout="none"
               data-elementdelay="0.07"
               data-endelementdelay="0.1"
               data-endspeed="300"
               style="z-index: 6; font-size:120px; color:#fff; text-transform:uppercase; white-space: nowrap;">Vendez </div>
          <!-- LAYER NR. 2 -->
          <div class="tp-caption sfr font-extra-bold tp-resizeme letter-space-4"
               data-x="center" data-hoffset="0"
               data-y="center" data-voffset="60"
               data-speed="800"
               data-start="1300"
               data-easing="Power3.easeInOut"
               data-splitin="chars"
               data-splitout="none"
               data-elementdelay="0.07"
               data-endelementdelay="0.1"
               data-endspeed="300"
               style="z-index: 6; font-size:140px; color:#fff; text-transform:uppercase; white-space: nowrap;"> </div>
          <!-- LAYER NR. 4 -->
          <div class="tp-caption sfb font-extra-bold tp-resizeme"
               data-x="center" data-hoffset="120"
               data-y="center" data-voffset="200"
               data-speed="800"
               data-start="2200"
               data-easing="Power3.easeInOut"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.07"
               data-endelementdelay="0.1"
               data-endspeed="300"
               style="z-index: 6; font-size:60px; color:#fff; text-transform:uppercase; white-space: nowrap;"> </div>
          <!-- LAYER NR. 4 -->
          <div class="tp-caption lfb tp-resizeme"
               data-x="left" data-hoffset="0"
               data-y="center" data-voffset="240"
               data-speed="800"
               data-start="2200"
               data-easing="Power3.easeInOut"
               data-elementdelay="0.1"
               data-endelementdelay="0.1"
               data-endspeed="300"
               data-scrolloffset="0"
               style="z-index: 8;"><a  class="btn">La luxe</a> </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<div id="content">

  <!-- New Arrival -->
  <section class="padding-top-100 padding-bottom-100">
    <div class="container">

      <!-- Main Heading -->
      <div class="heading text-center">
        <h4>NOS NOUVEAUTÉS</h4>
        <span>Vide-dressing</span> </div>
    </div>

    <!-- New Arrival -->
    <div class="arrival-block" style="height: 500px">

      <!-- Item -->
      <div class="item" *ngFor="let p of produitsPardate" >
        <!-- Images -->
        <img class="img-1" src="{{'http://localhost:8089/SpringMVC/servlet/getimageofproduct/'+p.id}}"  alt="" style="height: 300px"> <img class="img-2" src="{{p.photo}}" alt="" >
        <!-- Overlay  -->
        <div class="overlay" >
          <!-- Price -->
          <span class="price"><small></small>{{p.prix}} DT</span>

        </div>
        <!-- Item Name -->
        <div class="item-name" > <a >{{p.marque}}</a>
          <p>{{p.etat}}</p>
        </div>
      </div>


    </div>
  </section>
  <section >
    <div class="container">

      <!-- Main Heading -->
      <div class="heading text-center">
        <h4>Catégorie</h4>
        <span>
choisir la catégorie qui vous plaît</span> </div>

      <!-- NEW ARRIVAL -->
      <div class="new-arrival-list">
        <ul class="row">

          <!-- SHOP_ITEMS -->
          <li class="col-md-6">

            <!-- SHOP ITEM 1 -->


            <!-- SHOP ITEM 3 -->
            <article> <img class="img-responsive" src="assets/images/new-ar-img-2.jpg" alt="">
              <div class="position-center-center">
                <h4><a routerLink="/produits/hommes">Hommes</a></h4>
                <a routerLink="/produits/hommes" class="btn btn-small btn-round">voir plus</a> </div>
            </article>
          </li>
          <li class="col-md-6">

            <!-- SHOP_ITEM 2 -->
            <article> <img class="img-responsive" src="assets/images/new-ar-img-3.jpg" alt="">
              <div class="position-center-center">
                <h4><a routerLink="/produits/femmes">Femmes</a></h4>
                <a routerLink="/produits/femmes" class="btn btn-small btn-round">voir plus</a> </div>
            </article>

            <!-- SHOP_ITEM 4 -->
            <article style="margin-left: -500px"> <img class="img-responsive" src="assets/images/enfant.jpg" alt="" style="width: 500px">
              <div class="position-center-center">
                <h4><a routerLink="/produits/enfant">Enfants</a></h4>
                <a routerLink="/produits/enfant" class="btn btn-small btn-round">voir plus</a> </div>
            </article>
          </li>
        </ul>

        <!-- SHOW MORE -->
      </div>
    </div>
  </section>
  <!-- Popular Products -->

</div>
